.container-slider {
    width: 100%;
    overflow: hidden;
}

.slider-contenedor {
    width: 100%;
    display: flex;
}

.contenido-slider {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(2) {
    background: #332863;
    color: #fff;
}

.contenido-slider:nth-child(3) {
    background: #611a68;
}

.contenido-slider>img {
    width: 400px;
}

.contenido-slider>div {
    width: 40%;
}

.contenido-slider h2 {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a {
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a {
    background: #fff;
    color: #332863;
}

@media screen and (max-width:900px) {
    .contenido-slider>img {
        width: 250px;
    }
    .contenido-slider>div {
        width: 40%;
    }
    .contenido-slider h2 {
        font-size: 23px;
    }
}

@media screen and (max-width:600px) {
    .contenido-slider {
        flex-direction: column-reverse;
    }
    .contenido-slider>div {
        width: 80%;
    }
}

.btn-abajo {
    position: relative;
    left: 50%;
    bottom: 100px;
}

.btn-abajo .fa-angle-double-down {
    font-size: 5rem;
    color: rgb(15, 15, 15);
}


/* arrow */

.box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 6px solid rgb(14, 13, 13);
    border-right: 6px solid rgb(8, 8, 8);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}